.btnSign {
    color:white;
    background-color: #1F618D;
    border: none;
    border-radius: 17px;
    padding: 8px 28px;
    display: flex; 
    justify-content: center; 
    font-weight: bold;
    margin-top: 25px;
}

.btnSign:hover {
 background-color: #B0C4DE;
 color: #1F618D;
}

.btnExist {
    color:white;
    background-color: #ffad33;
    border: none;
    border-radius: 17px;
    padding: 8px 28px;
    display: flex; 
    justify-content: center; 
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
    text-decoration: none;
 
}

.heading4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #174869;
    font-weight: bold;
}

.btnExist:hover {
 background-color: #B0C4DE;
 color: #1F618D;
 text-decoration: none;
}

.signContainer {
    background-color: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.JumboSignUp{
    background-color: rgba(197, 213, 235, 0.92);
    /* background-image: url("../../Images/abstract.jpg");  */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-bottom: -150px;
}

.pSign{
    font-family: 'Roboto Condensed', sans-serif;
    color: #174869;
}

.formSign{
    font-family: 'Roboto Condensed', sans-serif;
    color: #174869;
}