.page-footer {
    min-height: 200px;
    background: #C0C0C0;
    margin-top: 250px;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #B8B8B8;
    text-align: center;
  }

  /* .foot {
    margin: -15px;
  } */

  /* p {
    color: white;
  } */
  
  .list-links {
    color: white;
  }

  .footer a:hover {
    color: white;
  } 

  .fa {

    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
    margin: 5px 5px; 
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-github {
    background: #3B3535;
    color: white;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .footer-copyright {
    color: white;
  }
  