.row {
    margin: 0 auto;
    width: 80%;
}

 .Jumbo {
     /* color:rgb(59, 83, 100); */
     color: white;
     background: none;
     background: url("../../Images/hike2.jpeg") no-repeat center center;
     /* width: auto; */
     /* background-repeat: no-repeat; */
     height: 440px;
     background-size: cover; 
     width: 100%;
 }

 .wrapper {
     background: none;
 }
 /* @media screen and (max-width: 600px) {
    .navbar-brand {
      float: none;
      display: block;
      font-size: 30px; 
    }
  } */

 